html {
  font-size: 12 px;
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  }

h1 {
  font-size: 25px;
  text-align: center;
  }

p,  
li {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
}